.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: white;
}

.plex {
  border-top-color: #e5a00d;
}

.plex-color {
  color: #e5a00d;
}

.heart-icon {
  outline: none;
  color: #e5a00d;
}

.section-header {
  background: #009688;
  padding: 5px;
  height: 35px;
}

.section-text {
  text-align: center;
  padding: 1%;
  font-size: 5vh;
}

.title-font {
  font-size: 2vh;
}

/* .movie-image:hover {
  border: 4px solid #009688;
} */

/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    min-width: 300px;
  }
}
