<div id="page">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Plex Request</h2>

      <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="plex-color">
            View Selected
      </md-button>
    </div>
  </md-toolbar>

  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-center-tabs="true">
        <md-tab label="movie">

          <md-toolbar>
            <div class="md-toolbar-tools search-bar" layout="column" layour-align="center center">
              <div flex style="width:50%">
                <md-input-container class="md-block">
                  <!-- Use floating placeholder instead of label -->
                  <input ng-model="searchString" type="input" placeholder="Search" ng-required="true">
                  <md-icon class="fa fa-search search-icon" ng-click="search(searchString)"></md-icon>
                </md-input-container>
              </div>
            </div>
          </md-toolbar>

          <!-- SEARCH CONTENT -->
          <md-content layout-padding ng-if="searching">
            <!-- Search Section -->
            <div class="section-text">Search Results</div>
            <div layout="column" layout-align="center center">
              <md-button ng-click="backToHome()"
                    class="plex-color">
                    Back to Home
              </md-button>
            </div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in searchMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>
          </md-content>

          <md-content layout-padding ng-if="!searching">

            <!-- Popular Movies Section -->
            <div class="section-text">Popular Movies</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in popularMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>


            <!-- Popular Kids Movies Section -->
            <div class="section-text">Kids</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in popularKidsMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>


            <!-- Drama Movies Section -->
            <div class="section-text">Drama</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in dramaMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>


            <!-- Action Movies Section -->
            <div class="section-text">Action</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in actionMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>


            <!-- Adventure Movies Section -->
            <div class="section-text">Adventure</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in adventureMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>


            <!-- Comedy Movies Section -->
            <div class="section-text">Comedy</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="movie in comedyMovies"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{movie.title}}
                        </div>
                        <div class="heart-icon" ng-click="select(movie)">
                          <i ng-class="{'fa fa-heart-o' : !movie.selected, 'fa fa-heart' : movie.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="select(movie)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + movie.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="movie.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{movie.title}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>
          </md-content>
        </md-tab>

        <!-- TV TAB -->
        <md-tab label="TV">
          <md-toolbar>
            <div class="md-toolbar-tools search-bar" layout="column" layour-align="center center">
              <div flex style="width:50%">
                <md-input-container class="md-block">
                  <!-- Use floating placeholder instead of label -->
                  <input ng-model="searchString" type="input" placeholder="Search" ng-required="true">
                  <md-icon class="fa fa-search search-icon" ng-click="searchTV(searchString)"></md-icon>
                </md-input-container>
              </div>
            </div>
          </md-toolbar>

          <!-- SEARCH CONTENT -->
          <md-content layout-padding ng-if="tvSearching">
            <!-- Search Section -->
            <div class="section-text">Search Results</div>
            <div layout="column" layout-align="center center">
              <md-button ng-click="backToTVHome()"
                    class="plex-color">
                    Back to Home
              </md-button>
            </div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="show in searchShows"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{show.name}}
                        </div>
                        <div class="heart-icon" ng-click="select(show)">
                          <i ng-class="{'fa fa-heart-o' : !show.selected, 'fa fa-heart' : show.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="selectShow(show)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + show.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="show.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{show.name}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>
          </md-content>

          <md-content layout-padding ng-if="!tvSearching">

            <!-- Popular Shows Section -->
            <div class="section-text">Popular TV Shows</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="show in popularShows"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{show.name}}
                        </div>
                        <div class="heart-icon" ng-click="select(show)">
                          <i ng-class="{'fa fa-heart-o' : !show.selected, 'fa fa-heart' : show.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="selectShow(show)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + show.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="show.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{show.name}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>

            <!-- Popular Drama Shows Section -->
            <div class="section-text">Dramas</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="show in dramaShows"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{show.name}}
                        </div>
                        <div class="heart-icon" ng-click="select(show)">
                          <i ng-class="{'fa fa-heart-o' : !show.selected, 'fa fa-heart' : show.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="selectShow(show)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + show.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="show.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{show.name}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>

            <!-- Popular Action Shows Section -->
            <div class="section-text">Action</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="show in actionShows"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{show.name}}
                        </div>
                        <div class="heart-icon" ng-click="select(show)">
                          <i ng-class="{'fa fa-heart-o' : !show.selected, 'fa fa-heart' : show.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="selectShow(show)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + show.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="show.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{show.name}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>

            <!-- Popular Adventure Shows Section -->
            <div class="section-text">Adventure</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="show in adventureShows"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{show.name}}
                        </div>
                        <div class="heart-icon" ng-click="select(show)">
                          <i ng-class="{'fa fa-heart-o' : !show.selected, 'fa fa-heart' : show.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="selectShow(show)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + show.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="show.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{show.name}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>

            <!-- Popular Comedy Shows Section -->
            <div class="section-text">Comedies</div>
            <md-divider class="plex"></md-divider>
            <md-grid-list
                md-cols-gt-md="5" md-cols="3" md-cols-md="4"
                md-row-height-gt-md="350px" md-row-height="100px"
                md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
              <md-grid-tile
                  ng-repeat="show in comedyShows"
                  md-colspan-gt-sm="1"
                  md-rowspan-gt-sm="1">
                  <div layout="column" layout-align="none" flex="100" style="height: 100%;">
                    <div class="section-header" layout="column" layout-align="center stretch">
                      <div layout="row" layout-align="none" class="movie-text">
                        <div class="title-font" flex>
                          {{show.name}}
                        </div>
                        <div class="heart-icon" ng-click="select(show)">
                          <i ng-class="{'fa fa-heart-o' : !show.selected, 'fa fa-heart' : show.selected }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="heart-icon" layout="column" layout-align="stretch" flex="90" class="movie-image" ng-click="selectShow(show)"
                      ng-style="{
                        'background': 'url(http://image.tmdb.org/t/p/w780/' + show.backdrop_path + ')',
                        'background-repeat': 'no-repeat',
                        'background-size': 'cover'
                      }">
                      <div ng-show="show.backdrop_path === null">No Image Available</div>
                    </div>
                    <md-tooltip md-direction="top">{{show.name}}</md-tooltip>
                  </div>
              </md-grid-tile>
            </md-grid-list>


          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>


  <!-- SIDENAV -->
  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Movies Selected</h1>
      </md-toolbar>
      <md-content layout-padding>
        <div ng-show="addedMovies.length === 0">Nothing selected</div>
        <div ng-repeat="mov in addedMovies">
          {{mov}}
        </div>

        <md-divider class="plex"></md-divider>
        
        <md-button ng-click="sendRequest()" class="plex-color">
          Send Request
        </md-button>
        <md-button ng-click="close()" class="plex-color">
          Close
        </md-button>
      </md-content>
    </md-sidenav>
</div>
